*{
    box-sizing: border-box;
}
.row11{
    border: solid 2px red;
    height:100px;
    font-size: 0px;
}

.c1{
	border:solid 2px black;
	display:inline-block;
	height:100%;
	width:33.33%;
}
.row12{
    border: solid 2px red;
    height:150px;
    font-size: 0px;
} 
.c2{
   border:solid 2px black;
   display:inline-block;
   height:100%;
   width:50%;
}      
.r3{
   border: solid 2px blue;
   height:50%;
}
.row13{
   border: solid 2px red;
   height:150px;
   font-size:0px;
}  
.c3{
  border:solid 2px black;
  display:inline-block;
  height:100%;
  width:30%;
}
.r4{
  border: solid 2px blue;
  height:50%;
}
.c5{
  border:solid 2px black;
  display:inline-block;
  height:100%;
  width:15%;
}
.c6{
  border:solid 2px black;
  display:inline-block;
  height:100%;
  width:40%
}
.r8{
  border: solid 2px blue;
  height:33.33%;
}
.row14{
  border: solid 2px red;
  height:100px;
  font-size:0px;
}
.c9{
  border:solid 2px black;
  display:inline-block;
  height:100%;
  width:50%;
} 
.row15{
  border: solid 2px red;
  height:100px;
  font-size:0px;
}
.c10{
  border:solid 2px black;
  display:inline-block;
  height:100%;
  width:50%;
} 


